.answerWrapper {
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.aLabel {

    font-weight: bold;
    text-transform: uppercase;
}

.aInput {
    flex: max-content;
    text-transform: uppercase;
}

.pLabel {

    font-weight: bold;
    text-transform: uppercase;
}

.pInput {
    width: 10%;
    text-transform: uppercase;
    text-align: center;
}