.wrapper {
    border: 3px solid goldenrod;
    border-radius: 15px;
    padding: 15px 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 20px;
}

.qInput {
    width: 80%;
    height: 50px;

}

.qLabel {
    width: 10%;
    border: 2px solid blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: darkorange;
    cursor: pointer;
    font-weight: bolder;
    color: black;
}