.toggleBoxOn {
    width: 600px;
    height: 90px;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin: 25px auto 5px auto;
    border: 5px solid black;
    border-radius: 35px;
}
.toggleBoxOff {
    width: 600px;
    height: 90px;
    background-color: darkslategrey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin: 25px auto 5px auto;
    border: 5px solid black;
    border-radius: 35px;
}

.gameToggle {
    zoom: 2;

}

h4 {
    position: absolute;
    bottom: 5px;
    text-align: center;
}