.hiddenAnswer{
    background-color: deepskyblue;
    height: 12vh;
    width: 29vw;
    border: 10px solid white;
    cursor: pointer;
}

.innerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid lightgray;
    width: 100%;
    height: 100%;
    background: rgb(42,78,148);
    background: linear-gradient(0deg, rgba(42,78,148,1) 7%, rgba(37,78,158,1) 32%, rgba(19,78,193,1) 69%, rgba(255,255,255,1) 100%);
}

.answerNumber {
    font-weight: bolder;
    text-align: center;
    color: white;
    border: 1px solid white;
    border-radius: 60%;
    width: 18%;
    background-color: darkblue;

}
.answer {
    color: white;
    font-weight: bolder;
}

.points {
    color: white;
    font-weight: bolder;
}

.answerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    border-right: 5px solid lightgray;
}

.pointsBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    border-left: 1px solid lightgray;
}