.top-answers {
    border: #e7a13a 15px solid;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    height: 55vh;
    width: 61vw;
    padding: 10px 10px ;
}

.first-col {
padding-right: 1px;
}

.second-col {
padding-left: 1px;
}
