.answerBoard {
    width: 100vw;
    height: 100vh;
    background: rgb(250,151,64);
    background: linear-gradient(304deg, rgba(250,151,64,1) 0%, rgba(7,18,91,1) 31%, rgba(222,134,60,1) 76%, rgba(26,54,220,1) 100%);
}