.menu-button {
    color: white;
    background-color: transparent;
    border: 6px solid white;

    border-radius: 50%;
    width: 350px;
    height: 150px;

}

.menu-button:hover {
    background-color: darkorange;
    color: darkblue;
}